body{
    background-color: lightblue;
    min-width: 70%
}

h1 {
  color: navy;
}

h2{
    color: rgb(136, 56, 234);
}

form{
    color: hsla(225, 93%, 47%, 1);
}

:root{
    --footer-color: #d410bd;
}

footer{
    color: #d410bd; 
    color: var(--footer-color);
    display: inline-block;
}

button{
    color: color(sRGB 0 0.5 1 / 100%);
}

.image {
    width: 90%; 
    max-width: 400px;
    padding-left: 500px; 
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
}

.title {
    font-size: 36px; 
    border: solid; 
    border-color: rgb(136, 56, 234);
    border-style: dashed;
    border-width: 0.4em;
    border-radius: 50%;
    height: 40px;
    width: 100%
    padding: 3%;
    text-align: center;
    margin: 35px;
  }

.text{
    color: rgb(177, 9, 160);
    text-decoration: underline;
    text-align: center;
    display: block;
    position: static;
}
  
