body{
    background-color: lightblue;
}

h1 {
  color: navy;
}

h2{
    color: rgb(136, 56, 234);
}

form{
    color: hsla(225, 93%, 47%, 1);
}

:root{
    --footer-color: #d410bd;
}

footer{
    color: #d410bd; 
    color: var(--footer-color);
}

button{
    color: color(sRGB 0 0.5 1 / 100%);
}
