@font-face {
    font-family: "Crimson Text";
    src: url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
}

body{
    background-color: lightblue; /*background color of page is now a different color*/
    min-width: 70%;
    font-family: "Crimson Text", cursive;
}

h1 {
  color: navy; /*the title of my page is now a different color*/
}

h2{
    color: rgb(136, 56, 234);
}

form{
    color: hsla(225, 93%, 47%, 1); /*text of the form is now different color*/
}

:root{
    --footer-color: #d410bd;  /*creating variable*/
}

footer{
    color: #d410bd; /*variable fallback*/
    color: var(--footer-color); /*using variable*/
    display: inline-block;
}

button:hover{
    color: color(sRGB 0 0.5 1 / 100%); /*color of text in button changes to blue when hovered over*/
}

button:active{
    color: red;
    background-color: black; /*color of text of button turns red and background of button turns black when you click down on it*/
}

.image { /*adjusting the width and position of the image*/
    width: 90%; 
    max-width: 400px;
    padding-left: 500px; 
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
}

.title {  /* adding style to the title of the page*/
    font-size: 36px; 
    border: solid; 
    border-color: rgb(136, 56, 234);
    border-style: dashed;
    border-width: 0.4em;
    border-radius: 50%;
    height: 40px;
    width: 100%;
    padding: 3%;
    text-align: center;
    margin: 35px;
  }

.text{ /*styling the paragraph's text of my page*/
    color: rgb(177, 9, 160);
    text-decoration: underline;
    text-align: center;
    display: block;
    position: static;
}
.list {
    display: flex;
    justify-content: space-around; /* Flex items are evenly distributed with equal space around them */
    align-items: center; /* Flex items are centered vertically */
    flex-direction: column; /* Flex items are stacked vertically */
  }
.item{
    width: 175px;
  height: 50px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin: 5px;
  text-align: center;
}

.list2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /
    grid-gap: 10px; 
  }
  
  .item2 {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
  }
